apiVersion: v1
kind: Service
metadata:
  name: influxdb
  namespace: default
spec:
  selector:
    app: influxdb
  type: NodePort
  ports:
  - name: influxdb
    port: 8083
    targetPort: 8083
    protocol: TCP